.JasonsButton {
    background-color: blueviolet;

}

@media screen and (min-width: 768px) {
    .JasonsButton{ 
        background-color: yellow;
    }
}

@media screen and (min-width: 1024px) {
    .JasonsButton{
       background-color: cyan;
    }
}